<template>
  <div class="sitebar">
    <div class="sitebar__title">Валюта</div>
    <div class="sitebar__currency">
      <div v-for="(item, key) in currency" :key="key"
           :class="['sitebar__currency-item', {_active: item.key === activeCurrency}]"
           @click="setCurrency(item.key)">
           {{item.title}}
      </div>
    </div>
    <div class="sitebar__title">Количество пересадок</div>
    <div class="sitebar__options">
      <div v-for="(item, key) in stops" :key="key" class="sitebar__options-item">
        <div :class="['sitebar__checkbox', {'_active': hasActive(item.val)}]" @click="addFilter(item.val)"></div>
        <div class="sitebar__checkbox-text">{{item.text}}</div>
        <div :class="['sitebar__only', {'_hide': item.val === -1}]" @click="addFilterOnly(item.val)">Только</div>
      </div>
    </div>
  </div>
</template>

<script>
import './style.styl'
import { mapState } from 'vuex'
import {uniqBy, sortBy, some} from 'lodash'

export default {
  data () {
    return {
      filterStops: []
    }
  },
  watch: {
    filterStops (newFilter) {
      this.$store.commit('SET_FILTER', newFilter)
    }
  },
  computed: {
    ...mapState({
      currency: state => state.aviasales.currency,
      activeCurrency: state => state.aviasales.activeCurrency,
      allTickets: state => state.aviasales.allTickets,
    }),
    stops () {
      const result = []
      uniqBy(this.allTickets, 'stops').forEach(item => {
        const textDeclOfNum = this.declOfNum(item.stops, ['Пересадка', 'Пересадки', 'Пересадок'])
        const text = item.stops ? `${item.stops} ${textDeclOfNum}` : 'Без пересадок'
        result.push({
          val: item.stops,
          text
        })
      })
      result.push({
        val: -1,
        text: 'Все'
      })
      return sortBy(result, ['val'])
    }
  },
  methods: {
    setCurrency (key) {
      this.$store.commit('SET_CURRENCY', key)
    },
    declOfNum(number, titles) {  
      const cases = [2, 0, 1, 1, 1, 2];  
      return titles[ (number%100>4 && number%100<20)? 2 : cases[(number%10<5)?number%10:5] ];  
    },
    addFilter (val) {
      if (val === -1) {
        const result = []
        // Если активирован - вырубаем
        if (this.filterStops.length === this.stops.length) {
          this.filterStops = result
          return
        }
        // Добавляем все позиции в фильтр
        this.stops.forEach(item => {
          result.push(item.val)
        })
        this.filterStops = result
        return
      }

      const matchVal = some(this.filterStops, item => item === val)
      if (!matchVal) {
        this.filterStops.push(val)
      } else {
        this.filterStops = this.filterStops.filter(item => item !== val)
      }
    },
    addFilterOnly (val) {
      if (val === -1) return
      this.filterStops = [val]
    },
    hasActive (val) {
      return some(this.filterStops, item => item === val)
    }
  }
}
</script>

