.sitebar
  width 232px
  min-height 331px
  box-shadow 0 1px 4px rgba(91, 137, 164, 0.25)
  border-radius 5px
  background-color #ffffff
  padding 15px
  height 400px
  
.sitebar__title
  color #4a4a4a
  font-family 'Open Sans', 'sans-serif'
  font-size 12px
  font-weight 600
  line-height 19px
  letter-spacing 0.5px
  text-transform uppercase
  margin-bottom 11px

.sitebar__currency
  width 100%
  display flex
  justify-content center
  align-items center
  user-select none
  margin-bottom 30px

.sitebar__currency-item:first-child
  border-left 1px solid #d2d5d6
  border-top-left-radius 5px
  border-bottom-left-radius 5px
  &:hover
    &::before
      display none
  
.sitebar__currency-item:last-child
  border-right 1px solid #d2d5d6
  border-top-right-radius 5px
  border-bottom-right-radius 5px
  &:hover
    &::after
      display none
  
.sitebar__currency-item
  width 33.333333% 
  height 40px
  display flex
  justify-content center
  align-items center
  color #2196f3
  font-family 'Open Sans', 'sans-serif'
  font-size 12px
  font-weight 600
  line-height 22px
  text-transform uppercase
  letter-spacing 0.5px
  border-top 1px solid #d2d5d6
  border-bottom 1px solid #d2d5d6
  cursor pointer
  position relative
  &:hover
    border-color #64b5f5
    background-color #f2fcff
    &::before
      content ''
      position absolute
      left 0
      top 0
      width 1px
      height 100%
      background #64b5f5
    &::after
      content ''
      position absolute
      right 0
      top 0
      width 1px
      height 100%
      background #64b5f5
      
  &._active
    background-color #2196f3
    border-color #2196f3
    color #fff
    
// ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
//   Чекбоксы
// ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱

.sitebar__options
  width 100%
  margin-top -2px

.sitebar__only
  color #4a4a4a
  font-family 'Open Sans'
  font-weight 600
  font-size 11px
  color #2196f3
  text-transform uppercase
  cursor pointer
  visibility hidden
  opacity 0
  transition visibility .3s, opacity .3s
  &._hide
    opacity 0
    visibility hidden
  
.sitebar__options-item
  display flex
  justify-content space-between
  align-items center
  height 36px
  position relative
  &::before
    content ''
    position absolute
    top 0
    left -15px
    width 15px
    height 100%
    background #f1fcff
    opacity 0
  &::after
    content ''
    position absolute
    top 0
    right -15px
    width 15px
    height 100%
    background #f1fcff
    opacity 0
    
  &:hover
    background #f1fcff
    &::before
    &::after
      opacity 1
    .sitebar__only:not(._hide)
      visibility visible
      opacity 1

.sitebar__checkbox
  width 19px
  height 19px
  border-radius 3px
  border 1px solid #d2d5d6
  background-color #ffffff
  position relative
  cursor pointer
  &._active
    border 1px solid #2196f3
    &::before
      content ''
      display block
      position absolute
      top 3px
      left 6px
      width 3px
      height 7px
      border-right 1px solid #2196f3
      border-bottom 1px solid #2196f3
      transform rotate(33deg)
  
.sitebar__checkbox-text
  width 115px
  color #4a4a4a
  font-family 'Open Sans'
  font-size 13px