.ticket
  width 566px
  height 161px
  box-shadow 0 1px 4px rgba(91, 137, 164, 0.25)
  border-radius 5px
  background-color #ffffff
  margin-bottom 20px
  display flex

.ticket__left
  display flex
  justify-content center
  align-items center
  height 100%
  width 200px
  flex-direction column
  border-right 1px solid #eceff1

.ticket__btn-buy
  width 160px
  height 56px
  box-shadow 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #d64d08
  border-radius 5px
  background-color #ff6d00
  color #ffffff
  font-family 'Open Sans', 'sans-serif'
  font-size 16px
  font-weight 600
  text-align center
  padding-top 7px
  cursor pointer
  margin-top 20px
  &:hover
    box-shadow 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 #f7661d
    background-color #ff8124
    
.ticket__right
  width calc(100% - 200px)
  padding 25px
  display flex
  justify-content space-between

.ticket__time
  color #4a4a4a
  font-family 'Open Sans', 'sans-serif'
  font-size 32px
  line-height 26px
  margin-bottom 11px

.ticket__city
  color #4a4a4a
  font-family 'Open Sans', 'sans-serif'
  font-size 12px
  font-weight 600
  line-height 18px

.ticket__date
  color #8b9497
  font-family 'Open Sans', 'sans-serif'
  font-size 12px
  line-height 18px

.ticket__stop
  color #8b9497
  font-family 'Open Sans', 'sans-serif'
  font-size 10px
  font-weight 600
  line-height 12.1px
  position relative
  height 27px
  &::after
    content ''
    position absolute
    bottom 0
    left 50%
    width 110px
    height 13px
    background url('../../assets/arrow.png') no-repeat center
    transform translateX(-50%)

.ticket__to
  text-align right