<template>
  <div class="ticket">
    <div class="ticket__left">
      <img src="https://via.placeholder.com/120x35" alt="" class="ticket__logo">
      <div class="ticket__btn-buy">Купить <br> за {{price}}</div>
    </div>
    <div class="ticket__right">
      <div class="ticket__from">
        <div class="ticket__time">{{ticket.departure_time}}</div>
        <div class="ticket__city">{{ticket.origin}}, {{ticket.origin_name}}</div>
        <div class="ticket__date">{{normalizeDateDeparture}}</div>
      </div>
      <div class="ticket__stop">
        {{normalizeStops}}
      </div>
      <div class="ticket__to">
        <div class="ticket__time">{{ticket.arrival_time}}</div>
        <div class="ticket__city">{{ticket.destination}}, {{ticket.destination_name}}</div>
        <div class="ticket__date">{{normalizeDateArrival}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Moment from 'moment'
import './style.styl'

export default {
  props: ['ticket'],
  data () {
    return {
      days: ['Пн','Вт','Ср','Чт','Пт','Сб','Вс']
    }
  },
  computed: {
    ...mapState({
      activeCurrency: state => state.aviasales.activeCurrency
    }),
    price () {
      return this.$store.getters.getCurrentCurrencyPrice(this.ticket.price)
    },
    normalizeDateDeparture () {
      const weekDay = Moment(this.ticket.departure_date).locale('ru').weekday()
      const date = Moment(this.ticket.departure_date).locale('ru').format('ll')
      return date + ' ' + this.days[weekDay]
    },
    normalizeDateArrival () {
      const weekDay = Moment(this.ticket.arrival_date).locale('ru').weekday()
      const date = Moment(this.ticket.arrival_date).locale('ru').format('ll')
      return date + ' ' + this.days[weekDay]
    },
    normalizeStops () {
      const text = this.declOfNum(this.ticket.stops, ['Пересадка', 'Пересадки', 'Пересадок'])
      const stops = this.ticket.stops || 'Без'
      return stops + ' ' + text
    }
  },
  methods: {
    declOfNum(number, titles) {  
      const cases = [2, 0, 1, 1, 1, 2];  
      return titles[ (number%100>4 && number%100<20)? 2 : cases[(number%10<5)?number%10:5] ];  
    }
  }
}
</script>