<template>
  <div id="app" class="app">
    <div class="app__logo">
      <img src="./assets/logo.png" alt="">
    </div>
    <div class="app__content">
      <Sitebar />
      <div class="app__tickets">
        <Ticket v-for="(item, key) in tickets" :key="key" :ticket="item"/>
      </div>
    </div>
  </div>
</template>

<script>
import Sitebar from './components/sitebar/sitebar'
import Ticket from './components/ticket/ticket'
import {mapGetters} from 'vuex'

export default {
  name: 'app',
  components: {Sitebar, Ticket},
  computed: {
    ...mapGetters(['tickets'])
  }
}
</script>

<style lang="stylus">
.app
  padding-top 20px
  width 824px
  margin 0 auto
  
.app__logo
  display flex
  justify-content center
  margin-bottom 34px

.app__content
  display flex
  justify-content space-between
  
</style>
